body{
    background-color: #e6ade6;
    min-height: 6.5vh;
    margin: auto;
}

.logo{
    max-height: 9vh;
}

.nav-link{
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.nav-link:hover{
    color: white;
}