.input-field {
    height: 50px;
    display: block;
    overflow: auto;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    background-color: white;
    
}

.btn {
    min-width: 85px;
}

.content {
    margin-inline: 10%;
    font-size: 22px;
}

.buttons {
    margin: auto;
    align-items: center;
    justify-content: center;

}

.title {
    text-align: center;
    
}

h5 {
    font-weight: normal;
    display: inline;
}

@media screen and (max-width: 700px) {

    .price{
        min-width: 100%;
        padding-left: 0%;
        margin-left: 10%;
        & h3{
            font-size: 24px;
        }
        & h5{
            font-size: 14px;
        }
    }
}
.price {
    background-color: #e6ade6;
    max-width: 60%;
    padding-left: 5%;
    position: sticky;
    border-radius: 25px;
}

.mobile-price{
    background-color: #e6ade6;
    margin-inline: 15%;
    border-radius: 10px;
}

/* input:invalid:required {
    background-color: red;
  } */

  .validity{
    color: red;
  }