.input-field {
    height: 50px;
    display: block;
    overflow: auto;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    background-color: white;
    max-width: 500px;
}
input{
    max-width: 500px;
}

.btn{
    min-width: 85px;
}

.content{
    margin-inline: 10%;
    font-size: 22px;
}

.buttons{
    margin: auto;
    align-items: center;
    justify-content: center;

}