<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="background">
    <div class="container">
        <div class="row">
            <div class="col center mt-3">
                <h1>About Me</h1>
            </div>
        </div>
        <div class="row">
            <div class="col content">
                Hi! My name is Sophie and I am the owner of Sophie's Sweets LLC. I first started my business in January of 2021, 
                but I have had a love for baking for as long as I can remember. My speciality is macarons, but I also love to 
                make cakes and cupcakes! I've also made a few wedding cakes while running my business. My favorite macaron 
                flavor is Sour Patch and my favorite cupcake flavor is Strawberry Crunch! I'm currently majoring in elementary 
                education and am so excited to have a career as a teacher, and I hope to continue my baking business alongside 
                that. I'm excited that you're here and hope you enjoy my desserts! 
            </div>
        </div>
        <div class="row">
            <div class="col center">
                <img src="https://firebasestorage.googleapis.com/v0/b/sophiessweets-785d8.appspot.com/o/Pictures%2FSophie%2FIMG_4766.JPG?alt=media&token=eb055ea3-6873-4e3f-b4b8-8b2fe8f3430a">
            </div>
        </div>
    </div>
</body>
</html>