<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body class="background">
    <h1 class="header pt-3">Sophie's Sweets</h1>
    <div class="content container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                <p class="welcome">Welcome to my website! Sophie's Sweets is a home baking business located in
                    Parkersburg, West Virginia. I offer cakes and cupcakes, but found my specialty in macarons.
                    <br>
                    <br>
                    Feel free to like my page on Facebook and follow my Instagram at &#64;BakerGirlSophie!

                </p>
            </div>

            <h1 class="header">Products</h1>
            <div class="products row">
                <div class="product-card pb-3 card-col">
                    <h3 class="mb-4">Cupcakes</h3>
                    <img
                        src="https://firebasestorage.googleapis.com/v0/b/sophiessweets-785d8.appspot.com/o/Pictures%2FHomeCupcakes%2Fhome_cupcake.jpg?alt=media&token=3291bc32-a450-4a40-a982-67e1202b06c1">
                </div>
                <div class="product-card pb-3 mx-5 card-col">
                    <h3 class="mb-4">Cakes</h3>
                    <img
                        src="https://firebasestorage.googleapis.com/v0/b/sophiessweets-785d8.appspot.com/o/Pictures%2FHomeCakes%2FIMG_8182%20(2).jpg?alt=media&token=41a1b5a6-cc4e-430a-a091-fa0a489840f5">
                </div>
                <div class="product-card pb-3 card-col">
                    <h3 class="mb-4">Macarons</h3>
                    <img
                        src="https://firebasestorage.googleapis.com/v0/b/sophiessweets-785d8.appspot.com/o/Pictures%2FHomeMacarons%2FIMG_6506%20(1).jpg?alt=media&token=d4ead307-17fa-4f27-86fa-a52f25bb2fa6">
                </div>
            </div>
        </div>

        <!-- <div class="row" style="margin-inline: 10%;">
            <h1 class="header mt-5">Reviews</h1>
            <div class="col mb-4" *ngFor="let review of reviews">
                    <app-review-card review={{review.review}} name={{review.name}}>
                    </app-review-card>

                </div>
        </div> -->

        <h1 class="header mt-5">Reviews</h1>
        <div class="row pb-5">
            <div class="col">
                <div id="carousel" style="margin-bottom: 0;" data-ride="carousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <app-review-card review={{firstReview.review}} name={{firstReview.name}}>
                            </app-review-card>
                        </div>
                        <div class="carousel-item" *ngFor="let review of reviews">
                            <app-review-card review={{review.review}} name={{review.name}}>
                            </app-review-card>
                        </div>

                    </div>
                    <div class="carousel-controls card">
                        <button class="carousel-control-prev" type="button" data-target="#carousel"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-target="#carousel"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>

</html>
