.header {
    text-align: center;
    font-family: cursive;
}

.content {
    font-size: 18px;
}

.car-image {
    min-width: 75%;
    max-width: 80%;
    margin: auto;
}


@media screen and (max-width: 700px) {

    .car-image,
    .col {
        min-width: 90%;
    }

    .welcome {
        margin-inline: 0%;
    }
}

@media screen and (min-width: 700px) {
    .welcome {
        margin-inline: 15%;
    }
}

.welcome {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}


.carousel {
    max-width: 600px;
    margin: auto;
}

.products {
    text-align: center;
    /* display: inline-flex; */
    width: 75%;
    justify-content: center;
}

.product-card {
    background-color: #e6ade6;
    width: 25%;
    border-radius: 25px;
}

img {
    max-width: 200px
}

.card-col {
    width: 250px;
    margin-bottom: 5px;
}

.carousel-controls {
    border: none;
    position: relative;
    /* width:300px; */
    background-color: #e6ade6;
    padding-bottom: 5rem;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
}
