<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body class="background">
    <h1 class="header pt-3">Sophie's Sweets</h1>
    <div class="content container">
        <div class="row">
            <div class="col">
                <p class="welcome">Welcome to my website! Sophie's Sweets is a home baking business located in
                    Parkersburg, West Virginia. I offer cakes and cupcakes, but found my specialty in macarons.
                    <br>
                    <br>
                    Feel free to like my page on Facebook and follow my Instagram at @BakerGirlSophie!

                </p>
            </div>
        </div>

        <div class="row">
            <div class="col row">
                <div class="col"></div>
                <div id="carouselExampleIndicators" data-ride="carousel" class="carousel slide col">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="">
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://firebasestorage.googleapis.com/v0/b/sophiessweets-785d8.appspot.com/o/Pictures%2FSophie%2FIMG_1361.JPG?alt=media&amp;token=e13e52d3-e31b-4b85-9cfa-f07fad981b34"
                                alt="First slide" class="d-block w-100 car-image">
                        </div>
                        <div class="carousel-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/sophiessweets-785d8.appspot.com/o/Pictures%2FSophie%2FIMG_6277.jpg?alt=media&amp;token=2cc9c3c1-ac96-4ebb-8657-c1d040586f69"
                                alt="Second slide" class="d-block w-100 car-image">
                        </div>
                        <div class="carousel-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/sophiessweets-785d8.appspot.com/o/Pictures%2FNewMacarons%2FIMG_0239.jpg?alt=media&token=a7c9d681-948c-4bfd-98e5-c3009b303a3e"
                                alt="Third slide" class="d-block w-100 car-image">
                        </div>
                    </div>
                    <a href="#carouselExampleIndicators" role="button" data-slide="prev" class="carousel-control-prev">
                        <span aria-hidden="true"class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#carouselExampleIndicators" role="button" data-slide="next" class="carousel-control-next">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    </a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

</body>

</html>